In [1]:
from __future__ import print_function
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()
from pyspark.sql import SparkSession
from pyspark.mllib.regression import LabeledPoint, LinearRegressionWithSGD, LinearRegressionModel

In [2]:
if __name__ == "__main__":
    spark = SparkSession\
        .builder\
        .appName("dealWithMisingvaluesWithSpark")\
        .getOrCreate()

In [3]:
dataset = spark.read.csv("Admission_Prediction.csv",header=True)

In [5]:
dataset.head(5)

[Row(GRE Score='337.00', TOEFL Score='118.00', University Rating='4', SOP='4.50', LOR='4.50', CGPA='9.65', Research='1.00', Chance of Admit='0.92'),
 Row(GRE Score='324.00', TOEFL Score='107.00', University Rating='4', SOP='4.00', LOR='4.50', CGPA='8.87', Research='1.00', Chance of Admit='0.76'),
 Row(GRE Score=None, TOEFL Score='104.00', University Rating='3', SOP='3.00', LOR='3.50', CGPA='8.00', Research='1.00', Chance of Admit='0.72'),
 Row(GRE Score='322.00', TOEFL Score='110.00', University Rating='3', SOP='3.50', LOR='2.50', CGPA='8.67', Research='1.00', Chance of Admit='0.80'),
 Row(GRE Score='314.00', TOEFL Score='103.00', University Rating='2', SOP='2.00', LOR='3.00', CGPA='8.21', Research='0.00', Chance of Admit='0.65')]

In [6]:
dataset.show()

+---------+-----------+-----------------+----+----+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating| SOP| LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+----+----+----+--------+---------------+
|   337.00|     118.00|                4|4.50|4.50|9.65|    1.00|           0.92|
|   324.00|     107.00|                4|4.00|4.50|8.87|    1.00|           0.76|
|     null|     104.00|                3|3.00|3.50|8.00|    1.00|           0.72|
|   322.00|     110.00|                3|3.50|2.50|8.67|    1.00|           0.80|
|   314.00|     103.00|                2|2.00|3.00|8.21|    0.00|           0.65|
|   330.00|     115.00|                5|4.50|3.00|9.34|    1.00|           0.90|
|   321.00|     109.00|             null|3.00|4.00|8.20|    1.00|           0.75|
|   308.00|     101.00|                2|3.00|4.00|7.90|    0.00|           0.68|
|   302.00|     102.00|                1|2.00|1.50|8.00|    0.00|           0.50|
|   323.00|     108.00|                3|3.50|3.00|8.60|    0.00|           0.45|
|   325.00|     106.00|                3|3.50|4.00|8.40|    1.00|           0.52|
|   327.00|     111.00|                4|4.00|4.50|9.00|    1.00|           0.84|
|     null|     112.00|                4|4.00|4.50|9.10|    1.00|           0.78|
|   307.00|     109.00|                3|4.00|3.00|8.00|    1.00|           0.62|
|   311.00|     104.00|                3|3.50|2.00|8.20|    1.00|           0.61|
|   314.00|     105.00|                3|3.50|2.50|8.30|    0.00|           0.54|
|   317.00|     107.00|                3|4.00|3.00|8.70|    0.00|           0.66|
|   319.00|     106.00|                3|4.00|3.00|8.00|    1.00|           0.65|
|   318.00|     110.00|                3|4.00|3.00|8.80|    0.00|           0.63|
|   303.00|     102.00|                3|3.50|3.00|8.50|    0.00|           0.62|
+---------+-----------+-----------------+----+----+----+--------+---------------+
only showing top 20 rows

In [7]:
dataset.printSchema()

root
 |-- GRE Score: string (nullable = true)
 |-- TOEFL Score: string (nullable = true)
 |-- University Rating: string (nullable = true)
 |-- SOP: string (nullable = true)
 |-- LOR: string (nullable = true)
 |-- CGPA: string (nullable = true)
 |-- Research: string (nullable = true)
 |-- Chance of Admit: string (nullable = true)

our columns are of float datatype but it is showing string here. Let's change our columns datatype

In [8]:
from pyspark.sql.functions import col
new_data = dataset.select(*(col(c).cast("float").alias(c) for c in dataset.columns))

In [9]:
new_data.printSchema()

root
 |-- GRE Score: float (nullable = true)
 |-- TOEFL Score: float (nullable = true)
 |-- University Rating: float (nullable = true)
 |-- SOP: float (nullable = true)
 |-- LOR: float (nullable = true)
 |-- CGPA: float (nullable = true)
 |-- Research: float (nullable = true)
 |-- Chance of Admit: float (nullable = true)

In [10]:
new_data.columns

['GRE Score',
 'TOEFL Score',
 'University Rating',
 'SOP',
 'LOR',
 'CGPA',
 'Research',
 'Chance of Admit']

In [11]:
type(new_data)

pyspark.sql.dataframe.DataFrame

In [12]:
new_data.show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|    337.0|      118.0|              4.0|4.5|4.5|9.65|     1.0|           0.92|
|    324.0|      107.0|              4.0|4.0|4.5|8.87|     1.0|           0.76|
|     null|      104.0|              3.0|3.0|3.5| 8.0|     1.0|           0.72|
|    322.0|      110.0|              3.0|3.5|2.5|8.67|     1.0|            0.8|
|    314.0|      103.0|              2.0|2.0|3.0|8.21|     0.0|           0.65|
|    330.0|      115.0|              5.0|4.5|3.0|9.34|     1.0|            0.9|
|    321.0|      109.0|             null|3.0|4.0| 8.2|     1.0|           0.75|
|    308.0|      101.0|              2.0|3.0|4.0| 7.9|     0.0|           0.68|
|    302.0|      102.0|              1.0|2.0|1.5| 8.0|     0.0|            0.5|
|    323.0|      108.0|              3.0|3.5|3.0| 8.6|     0.0|           0.45|
|    325.0|      106.0|              3.0|3.5|4.0| 8.4|     1.0|           0.52|
|    327.0|      111.0|              4.0|4.0|4.5| 9.0|     1.0|           0.84|
|     null|      112.0|              4.0|4.0|4.5| 9.1|     1.0|           0.78|
|    307.0|      109.0|              3.0|4.0|3.0| 8.0|     1.0|           0.62|
|    311.0|      104.0|              3.0|3.5|2.0| 8.2|     1.0|           0.61|
|    314.0|      105.0|              3.0|3.5|2.5| 8.3|     0.0|           0.54|
|    317.0|      107.0|              3.0|4.0|3.0| 8.7|     0.0|           0.66|
|    319.0|      106.0|              3.0|4.0|3.0| 8.0|     1.0|           0.65|
|    318.0|      110.0|              3.0|4.0|3.0| 8.8|     0.0|           0.63|
|    303.0|      102.0|              3.0|3.5|3.0| 8.5|     0.0|           0.62|
+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 20 rows

In [14]:
new_data.describe('SOP').show()

+-------+------------------+
|summary|               SOP|
+-------+------------------+
|  count|               500|
|   mean|             3.374|
| stddev|0.9910036207566072|
|    min|               1.0|
|    max|               5.0|
+-------+------------------+

In [15]:
from pyspark.sql.functions import col, count, isnan, when

In [16]:
#checking for null ir nan type values in our columns
new_data.select([count(when(col(c).isNull(), c)).alias(c) for c in new_data.columns]).show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|       15|         10|               15|  0|  0|   0|       0|              0|
+---------+-----------+-----------------+---+---+----+--------+---------------+

In [16]:
new_data.show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|    337.0|      118.0|              4.0|4.5|4.5|9.65|     1.0|           0.92|
|    324.0|      107.0|              4.0|4.0|4.5|8.87|     1.0|           0.76|
|     null|      104.0|              3.0|3.0|3.5| 8.0|     1.0|           0.72|
|    322.0|      110.0|              3.0|3.5|2.5|8.67|     1.0|            0.8|
|    314.0|      103.0|              2.0|2.0|3.0|8.21|     0.0|           0.65|
|    330.0|      115.0|              5.0|4.5|3.0|9.34|     1.0|            0.9|
|    321.0|      109.0|             null|3.0|4.0| 8.2|     1.0|           0.75|
|    308.0|      101.0|              2.0|3.0|4.0| 7.9|     0.0|           0.68|
|    302.0|      102.0|              1.0|2.0|1.5| 8.0|     0.0|            0.5|
|    323.0|      108.0|              3.0|3.5|3.0| 8.6|     0.0|           0.45|
|    325.0|      106.0|              3.0|3.5|4.0| 8.4|     1.0|           0.52|
|    327.0|      111.0|              4.0|4.0|4.5| 9.0|     1.0|           0.84|
|     null|      112.0|              4.0|4.0|4.5| 9.1|     1.0|           0.78|
|    307.0|      109.0|              3.0|4.0|3.0| 8.0|     1.0|           0.62|
|    311.0|      104.0|              3.0|3.5|2.0| 8.2|     1.0|           0.61|
|    314.0|      105.0|              3.0|3.5|2.5| 8.3|     0.0|           0.54|
|    317.0|      107.0|              3.0|4.0|3.0| 8.7|     0.0|           0.66|
|    319.0|      106.0|              3.0|4.0|3.0| 8.0|     1.0|           0.65|
|    318.0|      110.0|              3.0|4.0|3.0| 8.8|     0.0|           0.63|
|    303.0|      102.0|              3.0|3.5|3.0| 8.5|     0.0|           0.62|
+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 20 rows

In [17]:
from pyspark.ml.feature import Imputer

In [18]:
imputer = Imputer(inputCols=["GRE Score", "TOEFL Score","University Rating"], 
                  outputCols=["GRE Score", "TOEFL Score","University Rating"])
model = imputer.fit(new_data)

imputed_data = model.transform(new_data)

In [19]:
#checking for null ir nan type values in our columns
imputed_data.select([count(when(col(c).isNull(), c)).alias(c) for c in imputed_data.columns]).show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|        0|          0|                0|  0|  0|   0|       0|              0|
+---------+-----------+-----------------+---+---+----+--------+---------------+

In [20]:
imputed_data.show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|    337.0|      118.0|              4.0|4.5|4.5|9.65|     1.0|           0.92|
|    324.0|      107.0|              4.0|4.0|4.5|8.87|     1.0|           0.76|
|316.55878|      104.0|              3.0|3.0|3.5| 8.0|     1.0|           0.72|
|    322.0|      110.0|              3.0|3.5|2.5|8.67|     1.0|            0.8|
|    314.0|      103.0|              2.0|2.0|3.0|8.21|     0.0|           0.65|
|    330.0|      115.0|              5.0|4.5|3.0|9.34|     1.0|            0.9|
|    321.0|      109.0|        3.1216495|3.0|4.0| 8.2|     1.0|           0.75|
|    308.0|      101.0|              2.0|3.0|4.0| 7.9|     0.0|           0.68|
|    302.0|      102.0|              1.0|2.0|1.5| 8.0|     0.0|            0.5|
|    323.0|      108.0|              3.0|3.5|3.0| 8.6|     0.0|           0.45|
|    325.0|      106.0|              3.0|3.5|4.0| 8.4|     1.0|           0.52|
|    327.0|      111.0|              4.0|4.0|4.5| 9.0|     1.0|           0.84|
|316.55878|      112.0|              4.0|4.0|4.5| 9.1|     1.0|           0.78|
|    307.0|      109.0|              3.0|4.0|3.0| 8.0|     1.0|           0.62|
|    311.0|      104.0|              3.0|3.5|2.0| 8.2|     1.0|           0.61|
|    314.0|      105.0|              3.0|3.5|2.5| 8.3|     0.0|           0.54|
|    317.0|      107.0|              3.0|4.0|3.0| 8.7|     0.0|           0.66|
|    319.0|      106.0|              3.0|4.0|3.0| 8.0|     1.0|           0.65|
|    318.0|      110.0|              3.0|4.0|3.0| 8.8|     0.0|           0.63|
|    303.0|      102.0|              3.0|3.5|3.0| 8.5|     0.0|           0.62|
+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 20 rows

In [21]:
spark.stop()