In [7]:
from __future__ import print_function
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()
from pyspark.sql import SparkSession
import numpy as np
from pyspark.mllib.stat import Statistics

In [2]:
if __name__ == "__main__":
    spark = SparkSession\
        .builder\
        .appName("StatisticalSummary")\
        .getOrCreate()

In [3]:
dataset = spark.read.csv("Admission_Prediction.csv",header=True)

In [4]:
dataset.show()

+---------+-----------+-----------------+----+----+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating| SOP| LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+----+----+----+--------+---------------+
|   337.00|     118.00|                4|4.50|4.50|9.65|    1.00|           0.92|
|   324.00|     107.00|                4|4.00|4.50|8.87|    1.00|           0.76|
|     null|     104.00|                3|3.00|3.50|8.00|    1.00|           0.72|
|   322.00|     110.00|                3|3.50|2.50|8.67|    1.00|           0.80|
|   314.00|     103.00|                2|2.00|3.00|8.21|    0.00|           0.65|
|   330.00|     115.00|                5|4.50|3.00|9.34|    1.00|           0.90|
|   321.00|     109.00|             null|3.00|4.00|8.20|    1.00|           0.75|
|   308.00|     101.00|                2|3.00|4.00|7.90|    0.00|           0.68|
|   302.00|     102.00|                1|2.00|1.50|8.00|    0.00|           0.50|
|   323.00|     108.00|                3|3.50|3.00|8.60|    0.00|           0.45|
|   325.00|     106.00|                3|3.50|4.00|8.40|    1.00|           0.52|
|   327.00|     111.00|                4|4.00|4.50|9.00|    1.00|           0.84|
|     null|     112.00|                4|4.00|4.50|9.10|    1.00|           0.78|
|   307.00|     109.00|                3|4.00|3.00|8.00|    1.00|           0.62|
|   311.00|     104.00|                3|3.50|2.00|8.20|    1.00|           0.61|
|   314.00|     105.00|                3|3.50|2.50|8.30|    0.00|           0.54|
|   317.00|     107.00|                3|4.00|3.00|8.70|    0.00|           0.66|
|   319.00|     106.00|                3|4.00|3.00|8.00|    1.00|           0.65|
|   318.00|     110.00|                3|4.00|3.00|8.80|    0.00|           0.63|
|   303.00|     102.00|                3|3.50|3.00|8.50|    0.00|           0.62|
+---------+-----------+-----------------+----+----+----+--------+---------------+
only showing top 20 rows

In [15]:
data_without_missing = dataset.dropna(how='any')

In [16]:
data_without_missing.show()

+---------+-----------+-----------------+----+----+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating| SOP| LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+----+----+----+--------+---------------+
|   337.00|     118.00|                4|4.50|4.50|9.65|    1.00|           0.92|
|   324.00|     107.00|                4|4.00|4.50|8.87|    1.00|           0.76|
|   322.00|     110.00|                3|3.50|2.50|8.67|    1.00|           0.80|
|   314.00|     103.00|                2|2.00|3.00|8.21|    0.00|           0.65|
|   330.00|     115.00|                5|4.50|3.00|9.34|    1.00|           0.90|
|   308.00|     101.00|                2|3.00|4.00|7.90|    0.00|           0.68|
|   302.00|     102.00|                1|2.00|1.50|8.00|    0.00|           0.50|
|   323.00|     108.00|                3|3.50|3.00|8.60|    0.00|           0.45|
|   325.00|     106.00|                3|3.50|4.00|8.40|    1.00|           0.52|
|   327.00|     111.00|                4|4.00|4.50|9.00|    1.00|           0.84|
|   307.00|     109.00|                3|4.00|3.00|8.00|    1.00|           0.62|
|   311.00|     104.00|                3|3.50|2.00|8.20|    1.00|           0.61|
|   314.00|     105.00|                3|3.50|2.50|8.30|    0.00|           0.54|
|   317.00|     107.00|                3|4.00|3.00|8.70|    0.00|           0.66|
|   319.00|     106.00|                3|4.00|3.00|8.00|    1.00|           0.65|
|   318.00|     110.00|                3|4.00|3.00|8.80|    0.00|           0.63|
|   303.00|     102.00|                3|3.50|3.00|8.50|    0.00|           0.62|
|   312.00|     107.00|                3|3.00|2.00|7.90|    1.00|           0.64|
|   325.00|     114.00|                4|3.00|2.00|8.40|    0.00|           0.70|
|   328.00|     116.00|                5|5.00|5.00|9.50|    1.00|           0.94|
+---------+-----------+-----------------+----+----+----+--------+---------------+
only showing top 20 rows

In [18]:
features = data_without_missing.drop('Chance of Admit')

In [19]:
col_names = features.columns
features_rdd = features.rdd.map(lambda row: row[0:])

In [22]:
summary = Statistics.colStats(features_rdd)
print(summary.mean())  # a dense vector containing the mean value for each column
print(summary.variance())  # column-wise variance
print(summary.numNonzeros())  # number of nonzeros in each column
print(summary.normL1())# return a column of normL1 summary

[316.63913043 107.21304348   3.11521739   3.37608696   3.46956522
   8.58363043   0.56521739]
[130.43158094  37.9370844    1.32220801   0.99441603   0.879246
   0.37180705   0.24628209]
[460. 460. 460. 460. 460. 460. 260.]
[145654.    49318.     1433.     1553.     1596.     3948.47    260.  ]